<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>The Best Help for The Best Program</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            The Register window works to register a new user, meaning you 
            can't use the same username as one already signed up. Make sure 
            the email is a proper email or otherwise the program won't let you 
            sign up. You must also re-type the password to make sure it has 
            no errors.
        </div>
        </br>
        <div>
           Use the buttons Undo and Redo to erase everything and write it again respectively. 
           Cancel closes the current window and opens the login window again.
           Register submits the data entered to the server.
           Help opens this window.
           Happy mode makes your day brighter.
        </div>
        </br>
        <div>
            The Register window has the following hot-keys
            <ul>
                <li>
                    Alt + r : Attempts to submit the data entered to register
                </li>
                <li>
                    Alt + c : Cancels the whole procedure and opens the login vindow
                </li>
                <li>
                    F1 : Opens the help window, the one you're seeing right now
                </li>
            </ul>
        </div>
        <img src="registerSnip.PNG" alt="An image should be here"> 
    </body>
</html>
