/* 
    Created on : 30-oct-2019, 8:33:50
    Author     : Carlos Rafael Mendez Gonzalez
*/
.root {
    -fx-background-color: pink;
}
.button {
    -fx-background-color: yellow;
    -fx-text-fill: purple;
}
.label {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: blue;
}
.text-field, .password-field {
    -fx-text-fill: blue;
    -fx-border-color: red;
}